h3{
    margin: 0
}
li{
    list-style: none;
    margin:2px 0 2px 0; 
}
#main {
    margin-top: 20px
}
.row {margin-top: 5px; margin-bottom: 5px}
.regSpacer{
    margin: 0px 10px 0px 10px;
    width: 100px;
    text-align: right;
    display:  inline-block;
}
.CodeMirror {
    border: 1px solid #eee;
    height: auto !important; 
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}
.lastLineNoRun, .lastRegChanged {background-color:#61FA9C; }
.nextLine {background-color:#dadae3; }
.errorLine{background-color: red;}
.stackAddrReal, .stackAddrRelative {display: inline-block; text-align: right; width: 60px;}
.lightGreyBG{background-color: #DDDDDD}